GITHUB_CLIENT_ID=replace-with-your-github-client-id
GITHUB_CLIENT_SECRET=replace-with-your-github-client-secret
GITHUB_REDIRECT_URI=http://localhost:8080/login/oauth2/code/github
APP_BASE_URL=http://localhost:8080
APP_FRONTEND_URL=http://localhost:5173
DB_URL=jdbc:postgresql://localhost:5432/bug_bash
DB_USERNAME=bug_bash
DB_PASSWORD=bug_bash
OLLAMA_URL=http://localhost:11434
AUTH_CLIENT_ID=minha-api-client
AUTH_CLIENT_SECRET=minha-senha-secreta
AUTH_REDIRECT_URI_LOCAL=http://localhost:8080/login/oauth2/code/minha-api-client
AUTH_REDIRECT_URI_POSTMAN=https://oauth.pstmn.io/v1/callback
